* {
	border: 0 none;
	font-family: Arial, sans-serif;
	margin: 0;
	outline: 0 none;
	padding: 0;
}

body {
	background: url("/public/images/bg.jpg") no-repeat scroll center 0px #FFFFFF;
	color: #333333;
	font-size: 100%;
}

a { text-decoration:none;}

#container {
	margin: auto;
	width: 100%;
}

#container-topo {
	height: 160px;
	width: 100%;
}

#header-topo {
	display: table;
	height: 100px;
	margin: 0 auto;
	width: 980px;
	z-index: 2;
}

#qestagio-logo {
	float: left;
	height: 105px;
	margin: 20px 0 20px 10px;
	width: 278px;
}

#qestagio-logo a {
	background: url("/public/images/logo.png") no-repeat scroll 0 0
		transparent;
	display: block;
	height: 155px;
	text-indent: -9000px;
	width: 287px;
}

#container-conteudo {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 15px;
	box-shadow: 0 0 40px #555;
	margin: 50px auto;
	width: 350px;
	height:auto;
	overflow:hidden;
}

#box-login {
	margin:20px 20px;
}

#box-login h2 {
	padding-bottom:5px;
	border-bottom:1px solid #ccc;
	margin-bottom:20px;
}

#box-login form {
	width:225px;
	margin:20px auto;
	padding-bottom:20px;
}

#box-login #esqueciSenha-submit {
	overflow:hidden;
}

#box-login #esqueciSenha-submit .esqueciSenha {
	float:left;
}

#box-login #esqueciSenha-submit .esqueciSenha a{
	color:#cc0000;
	font-size:12px;
}

#box-login #esqueciSenha-submit .submit {
	float:right;
}

#footer {
	padding-top:40px;
	color: #FFFFFF;
	font-size: 80%;
	line-height: 1.4em;
	text-shadow: 1px 1px 1px #000000;
	text-align:center;
	font-weight:bold;
}