conf/application.conf
.classpath
.DS_Store
.project
.settings
.class
tmp/**/*
eclipse/**/*
modules/**/*
Projeto - EJB/build
Projeto - EJB/build
Projeto - Play/eclipse
Projeto - Play/eclipse
Projeto - Play/tmp