#{extends 'main.html' /}
#{set title:'Home' /}

<h2>Sobre o CEE</h2>

<p>A Coordenadoria de Estágios e Egressos (CEE) é a unidade administrativa dos campi do Instituto Federal do RN responsável pelo encaminhamento dos alunos  ao campo de estágio.</p>

<ol>
	<li>
		CONDIÇÕES OBRIGATÓRIAS PARA FORMALIZAÇÃO DO ESTÁGIO
		<ul>
			<li>Termo de Convênio – firmado entre o Concedente e a Instituição de Ensino.</li>
			<li>Termo de Compromisso (Contrato de Estágio) - firmado entre o Concedente, o Estagiário e a Instituição de Ensino.</li>
			<li>Seguro Contra Acidentes Pessoais – feito em nome do Estagiário e pago pelo Concedente.</li>
			<li>Período Mínimo de Estágio – um semestre letivo.</li>
		</ul>
	</li>
	<br />
	<li>
		CONDIÇÕES NÃO OBRIGATÓRIAS DURANTE O ESTÁGIO
		<ul>
			<li>Não gera vínculo empregatício com o Concedente.</li>
			<li>Não é obrigatório, por parte do Concedente, o pagamento de bolsa ou salário nem ajuda de custa para deslocamento do estagiário.</li>
			<li>Não é obrigatório, por parte do Concedente, o pagamento de bolsa ou salário nem ajuda de custa para deslocamento do estagiário.</li>
		</ul>
	</li>
	<br />
	<li>
		O ESTÁGIO É ATIVIDADE DE COMPETÊNCIA DA INSTITUIÇÃO DE ENSINO, A QUEM CABE DEFINIR:
		<ul>
			<li>Inserção do estágio curricular na programação didático-pedagógica dos cursos.</li>
			<li>Carga horária, duração e jornada de estágio.</li>
			<li>Condições imprescindíveis para caracterização e definição dos campos de estágio.</li>
			<li>Sistemática de organização, orientação, supervisão e avaliação do estágio.</li>
		</ul>
	</li>
	<br />
	<li>
		QUEM TEM DIREITO AO ESTÁGIO?
		<ul>
			<li>Alunos dos Cursos Técnicos Integrados: a partir do 3º ano</li>
			<li>Alunos dos Cursos Técnicos Subseqüentes: a partir do 3º semestre</li>
			<li>Alunos dos Cursos Superiores: a partir do 3º semestre</li>
		</ul>
	</li>
	<br />
	<li>
		QUEM TEM DIREITO AO ESTÁGIO?
		<p>O aluno de se cadastrar na CEE. O fato de o aluno obter estágio por conta própria não dispensa o trâmite do processo junto à CEE: providenciar o convênio, o termo de compromisso e o pagamento do seguro.</p>
	</li>
</ol>