#{extends 'main.html' /}
#{set title:'legislacaoNormas.html' /}
#{set 'migalhaDePao'}
<ul id="migalhadepao">
	<li class="parent">
		<img src="@{'/public/images/blank.gif'}" alt="" class="sepV_a vam home_ico">
		<a href="/" class="vam">Início</a>
	</li>
	<li class="current"><a href="#">Legislação e normas</a></li>
</ul>
#{/set}
<h2>Legislação e Normas</h2>

<h4>Lei n.º 11.788, de 25/09/2008</h4>

<ul style="list-style: none; margin-top:10px;">
	<li>
		<a href="http://portal.ifrn.edu.br/extensao/estagios-e-egressos/legislacao-e-normas/lei-do-estagio.pdf/at_download/file">
			<img src="@{'/public/images/pdf.png'}"/> Lei do Estagio.pdf
		</a> — <span style="font-size:11px;">PDF document, 92 kB (95103 bytes)</span>
	</li>
</ul>

<br/>

<h4>Orientação Normativa nº 7, de 30 de outubro de 2008</h4>

<ul style="list-style: none; margin-top:10px;">
	<li>
		<a href="http://portal.ifrn.edu.br/extensao/estagios-e-egressos/legislacao-e-normas/ORIENTACaO%20NORMATIVA%20No%207-%20DE%2030%20DE%20OUTUBRO%20DE%202008.mht/at_download/file">
			<img src="@{'/public/images/message.png'}"/> Lei do Estagio.pdf
		</a> — <span style="font-size:11px;">email message, 57 kB (58371 bytes)</span> 
	</li>
</ul>
