#{extends 'main.html' /}
#{set title:'modelosFormularios.html' /}

<h2>Modelos e Formulários</h2>

<div>
	Documentos Necessários para solicitação do Diploma:
	<ol style="padding-left:20px;">
		<li>Requerimento (na CEE);</li>
		<li>Nada Consta(Na Biblioteca);</li>
		<li>Cópia de RG, CPF e Certidão de Nascimento/Casamento;</li>
		<li>Cópia de Contrato de Estágio ou Carteira de Trabalho;</li>
		<li>Declaração da Empresa(Conforme modelo da CEE);</li>
		<li>Relatório ou Monografia.</li>
	</ol>
</div>