#{extends 'main.html' /}
#{set title:'ofertaEstagio' /}
#{set 'migalhaDePao'}
<ul id="migalhadepao">
	<li class="parent">
		<img src="@{'/public/images/blank.gif'}" alt="" class="sepV_a vam home_ico">
		<a href="/" class="vam">Início</a>
	</li>
	<li class="current"><a href="#">Oferta de estágio</a></li>
</ul>
#{/set}

*{"Tag que importa as mensagens de feedback do sistema"}*
#{BoxesMensagensFeedback /}

<h2>Ofertas de Estágio</h2>

<div id="lista-ofertas">
	#{if lista}
		#{list items:lista, as:'oferta'}
		<div class="item-ofertas">
			<div style="float: right;">
				#{if session.get('usuarioAtivoID')}
				#{if listaCand.get(oferta_index-1).equals(false)}
					<a class="btn btn_d fl" href="@{OfertasEstagio.candidatarAluno(oferta.id)}">Desejo candidatar-me a esta oferta</a>
				#{/if}
				#{else}
						<a class="btn btn_c fl sepV_a" href="@{OfertasEstagio.descandidatarAluno(oferta.id)}">Remover minha candidatura</a>
				#{/else}
				#{/if}
			</div> 
			<div class="titulo-oferta">${oferta.funcao}</div></br>
			<div class="numVagas-oferta"><strong>Nº de Vaga(s):</strong> ${oferta.numVagas}</div>
			<div class="empresa-oferta"><strong>Empresa:</strong> ${oferta.empresa.nomeFantasia}</div>
			<div class="curso-oferta"><strong>Curso:</strong> ${oferta.curso.nome}</div>
			<div class="descricao-oferta"><strong>Descrição:</strong> ${oferta.descricao}</div>
		</div>
		#{/list}
	#{/if}
	#{else}
		Nenhuma oferta de estágio disponivel!
	#{/else}
</div>