#{extends 'main.html' /}
#{set title:'formCadastro.html' /}
#{set 'moreScripts'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery_ui/tema.css'}">
<script src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery.mask.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}
#{set 'migalhaDePao'}
<ul id="migalhadepao">
	<li class="parent">
		<img src="@{'/public/images/blank.gif'}" alt="" class="sepV_a vam home_ico">
		<a href="/" class="vam">Início</a>
	</li><div id="tabs">
	<li class="current"><a href="#">Visualizar Meus Dados</a></li>
</ul>
#{/set}

*{"Tag que importa as mensagens de feedback do sistema"}*
#{BoxesMensagensFeedback /}

<h2 class="sepH_c">Visualizar Meus Dados</h2>

<div class="formEl_b">
	<fieldset id="dados_pessoais" class="">
	<legend>Dados Pessoais - <a href="#">Alterar Dados</a></legend>
		<div class="sepH_b">
		</div>
	</fieldset>
	
	<fieldset id="dados_academicos" class="">
	<legend>Dados Acadêmicos - <a href="#">Alterar Dados</a></legend>
		<div class="sepH_b">
		</div>
	</fieldset>
	
	<fieldset id="dados_contato" class="">
	<legend>Dados de Contato - <a href="#">Alterar Dados</a></legend>
		<div class="sepH_b">
		</div>
	</fieldset>
	
	<fieldset id="dados_acesso" class="">
	<legend>Dados de Acesso - <a href="#">Alterar Dados</a></legend>
		<div class="sepH_b">
		</div>
	</fieldset>
</div>
