#{if flash.success}
<div class="msg_box msg_ok">
	${flash.success.raw()}
	<img alt="" class="msg_close" src="/public/images/blank.gif">
	<br/>
</div>
#{/if}

#{if flash.error}
<div class="msg_box msg_error">
	${flash.error.raw()}
	
	#{ifErrors}
		#{errors}
	       <li>${error}</li>
	    #{/errors}
    #{/ifErrors}
	
	<img alt="" class="msg_close" src="/public/images/blank.gif">
	<br/>
</div>
#{/if}

#{if flash.get("info")}
<div class="msg_box msg_info">
	${flash.get("info").raw()}
	<img alt="" class="msg_close" src="/public/images/blank.gif">
	<br/>
</div>
#{/if}

#{if flash.get("alert")}
<div class="msg_box msg_alert">
	${flash.get("alert").raw()}
	<img alt="" class="msg_close" src="/public/images/blank.gif">
</div>
#{/if}