<div id="sidebar">
	<div class="micro" rel="1" id="micro-1">
		<a href="@{Application.index()}"><h4 class="micro-solo"><span><img class="sepV_a vam home_ico" alt="" src="/public/images/blank.gif">Início</span></h4></a>
   </div>

	<div class="micro" rel="6" id="micro-6">
		<h4 class="micro-solo"><span><img alt="" src="/public/images/favicon.png" /> Ofertas de Estágio</span></h4>
		<ul style="display: block;" class="sub_section cf micro-content">
			<!--<li><a href="#">Sobre o CEE</a></li>-->
			<li><a href="@{OfertasEstagio.verOfertas()}">Consultar Ofertas</a></li>
		</ul>
	</div>
   
	<div class="micro" rel="0" id="micro-0">
		<h4 class="micro-solo"><span><img class="sepV_a vam" alt="" src="/public/images/cadastro-icon.png"> Cadastros</span></h4>
		<ul style="display: block;" class="sub_section cf micro-content">
			<!--<li><a href="#">Sobre o CEE</a></li>-->
			<li><a href="@{Alunos.formCadastro()}">Cadastrar Aluno</a></li>
			<li><a href="@{Empresas.formCadastro()}">Cadastrar Empresa</a></li>
			<li><a href="@{Funcionarios.formCadastro()}">Cadastrar Funcionário</a></li>
			<li><a href="@{Orientadores.formCadastro()}">Cadastrar Orientador</a></li>
			<li><a href="@{OfertasEstagio.formCadastro()}">Cadastrar Oferta de Estágio</a></li>
		</ul>
	</div>
	
   <div class="micro" rel="1" id="micro-1">
		<a href="@{Contato.formContato()}"><h4 class="micro-solo"><span><img class="sepV_a vam" alt="" src="/public/images/contato-icon.png"> Entrar em contato</span></h4></a>
   </div>
   
   <div class="micro" rel="1" id="micro-1">
		<a href="@{Sessions.efetuarLogoff()}"><h4 class="micro-solo"><span><img class="sepV_a vam" alt="" src="/public/images/logout-icon-2.png"> Sair do Sistema</span></h4></a>
   </div>
</div>