<div id="sidebar">
	<div class="micro" rel="1" id="micro-1">
		<a href="@{Application.index()}"><h4 class="micro-solo"><span><img class="sepV_a vam home_ico" alt="" src="/public/images/blank.gif">Início</span></h4></a>
   </div>
   
	<div class="micro" rel="0" id="micro-0">
		<h4 class="micro-solo"><span><img class="sepV_a vam" alt="" src="/public/images/blank.gif"> Estágio e Egressos</span></h4>
		<ul style="display: block;" class="sub_section cf micro-content">
			<li><a href="@{Application.index()}">Sobre o CEE</a></li>
			<li><a href="@{Application.informacoesEstagio}">Informações sobre Estágios</a></li>
			<li><a href="@{Application.legislacaoNormas}">Legislação e Normas</a></li>
			<li><a href="@{Application.modelosFormularios}">Modelos e Formulários</a></li>
			<li><a href="@{Application.ofertaEstagio}">Oferta de Estágio</a></li>
		</ul>
	</div>
	
   <div class="micro" rel="1" id="micro-1">
		<a href="#"><h4 class="micro-solo"><span><img class="sepV_a vam" alt="" src="/public/images/blank.gif"> Ajuda</span></h4></a>
   </div>
   
   <div class="micro" rel="1" id="micro-1">
		<a href="#"><h4 class="micro-solo"><span><img class="sepV_a vam" alt="" src="/public/images/blank.gif"> Entrar em contato</span></h4></a>
   </div>
</div>