#{extends 'main.html' /}
#{set title:'ofertaEstagio' /}
#{set 'migalhaDePao'}
<ul id="migalhadepao">
	<li class="parent">
		<img src="@{'/public/images/blank.gif'}" alt="" class="sepV_a vam home_ico">
		<a href="/" class="vam">Início</a>
	</li>
	<li class="parent"><a href="@{Application.index()}">Estágio e Egressos</a></li>
	<li class="current"><a href="#">Oferta de estágio</a></li>
</ul>
#{/set}

*{"Tag que importa as mensagens de feedback do sistema"}*
#{BoxesMensagensFeedback /}

#{set 'moreStyles'}
 <link rel="stylesheet" media="screen" href="@{'/public/javascripts/fb/jquery.fancybox.css'}">
#{/set}
#{set 'moreScripts'}
#{script 'fb/jquery.fancybox.pack.js' /}
<script type="text/javascript">
	$(document).ready(function(){
		var action = #{jsAction @@verCurriculoAluno(':idAluno') /}
		
		$('.ver-curriculo').click(function(){
			var idAluno = $(this).parent().parent().attr('idAluno');
			var ref = action({'idAluno':idAluno});
			$.fancybox({
	          href: ref,
	          type:  'iframe'
		     });
		     return false;
			
		});


  	 	 var numVagas = ${oferta.getNumVagas()};
  	 	 var selecionados = 0;
   	 $('.ck_selec').click(function(){
   		 selecionados = $(".ck_selec:input:checked").length;

			if (selecionados==numVagas){
				$('.ck_selec:input:not(:checked)').attr('disabled', true);
			}
			else{
				$('.ck_selec:input:not(:checked)').removeAttr('disabled');
			}
	     });
	});
</script>
#{/set}



<h2>Ofertas de Estágio</h2>

<div id="lista-ofertas">
		<div class="item-ofertas">
			<div style="float: right;">
			</div> 
			<div class="titulo-oferta">${oferta.funcao}</div></br>
			<div class="numVagas-oferta"><strong>Nº de Vaga(s):</strong> ${oferta.numVagas}</div>
			<div class="empresa-oferta"><strong>Empresa:</strong> ${oferta.empresa.nomeFantasia}</div>
			<div class="curso-oferta"><strong>Curso:</strong> ${oferta.curso.nome}</div>
			<div class="descricao-oferta"><strong>Descrição:</strong> ${oferta.descricao}</div>
			<div class="descricao-oferta"><strong>Número de candidatos:</strong> ${oferta.getCandidatos().size()}</div>
			<br />
			#{if oferta.getCandidatos()}
			#{form @Estagios.confirmarEstagio()}
			<input type="hidden" name="idOferta" value="${oferta.id}" />
			
			<table class="table_a">
			<thead>
				<tr>
					<td style="width: 10px;"></td>
					<td style="width: 100px;"></td>
					<td>Nome do Candidato</td>
				</tr>
			</thead>
			<tbody>
			#{list oferta.getCandidatos(),as:'candidato'}
				<tr idAluno="${candidato.getId()}">
					<td><input type="checkbox" class="ck_selec" name="idCandidato" value="${candidato.getId()}" /></td>
					<td><a href="#" class="ver-curriculo"><img src="@{'/public/images/curriculum-icon.png'}" />Ver currículo</a></td>
					<td>${candidato.getNome()}</td>
				</tr>
			#{/list}
			</tbody>
			</table>
			<div style="padding-bottom: 5px;">
				<button class="btn btn_d" type="submit">Selecionar candidatos</button>
			</div>
			#{/form}
			
			#{/if}
		</div>
</div>