#{extends 'main.html' /}
#{set title:'ofertaEstagio' /}
#{set 'migalhaDePao'}
<ul id="migalhadepao">
	<li class="parent">
		<img src="@{'/public/images/blank.gif'}" alt="" class="sepV_a vam home_ico">
		<a href="/" class="vam">Início</a>
	</li>
	<li class="parent"><a href="@{Application.index()}">Ofertas de Estágio</a></li>
	<li class="current"><a href="#">Consultar Ofertas</a></li>
</ul>
#{/set}

#{set 'moreScripts'}
<script type="text/javascript">
	$(document).ready(function(){
		var action = #{jsAction @@verOfertas(':diretoria') /}
		
		$('#selDiretoria').change(function(){
			var valor = $(this).val();
			window.location = action({diretoria:valor});
		});
	});
</script>
#{/set}

*{"Tag que importa as mensagens de feedback do sistema"}*
#{BoxesMensagensFeedback /}

<h2>Consultar Ofertas</h2>
<div class="formEl_b">
				<fieldset>
					<legend>Selecione a diretoria:</legend>
					<select style="width:100%;" id="selDiretoria">
						<option value="">-- Selecione uma Diretoria --</option>
						#{list items:diretorias, as:'diretoria'}
						<option value="${diretoria.getSigla()}" ${diretoria.getSigla() == diretoriaSelec ? 'selected=selected': ''}>${diretoria.getSigla()} - ${diretoria.getNome()}</option>				
						#{/list}
					</select>
				</fieldset>
				</div>
<div id="lista-ofertas">
	#{if lista}
		#{list items:lista, as:'oferta'}
		<div class="item-ofertas">
			<div style="float: right;">
					<a class="btn btn_d fl" href="@{OfertasEstagio.verDetalheOferta(oferta.id)}">Ver oferta</a>
			</div> 
			<div class="titulo-oferta">${oferta.funcao}</div></br>
			<div class="numVagas-oferta"><strong>Nº de Vaga(s):</strong> ${oferta.numVagas}</div>
			<div class="empresa-oferta"><strong>Empresa:</strong> ${oferta.empresa.nomeFantasia}</div>
			<div class="curso-oferta"><strong>Curso:</strong> ${oferta.curso.nome}</div>
			<div class="descricao-oferta"><strong>Descrição:</strong> ${oferta.descricao}</div>
			<div class="descricao-oferta"><strong>Número de candidatos:</strong> ${oferta.getCandidatos().size()}</div>
			
		</div>
		#{/list}
	#{/if}
	#{else}
		Nenhuma oferta de estágio cadastrada!
	#{/else}
</div>