<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/style.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
        
    </head>
    <body>
    	<div id="container">
    		<div id="container-topo">
    			<div id="header-topo">
					<div id="logomarca">
	    				<h1 id="qestagio-logo">
	    					<a title="Q-Estágio!" href="http://portal.ifrn.edu.br" accesskey="3">Q-Estágio</a>
	    				</h1>
					</div>
					
					<div id="box-login">
						#{form @Application.index()}
							<div class="formEl_b">
								<div class="sepH_b">
									<input type="text" name="login" class="inpt_b" value="" placeholder="Matrícula" id="login">
								</div>
								<div class="sepH_b">
									<input type="password" name="senha" class="inpt_b" value="" placeholder="Senha" id="senha">
								</div>
							</div>
							<div id="esqueciSenha-submit">
								<div class="esqueciSenha">
									
								</div>
								<div class="submit">
									<input type="submit" name="enviar" class="btn btn_aS fl sepV_a" value="Acessar" id="enviar">
								</div>
							</div>
							
						#{/form}
					</div>
    			</div>
    		</div>
    		
    		<div id="container-conteudo">
    			
    		</div>
    		
    		<div class="row">
    			<div class="cell width-full position-0">
					<div id="portal-footer">
						<div class="places"> 
							<span class="campus_name">Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte | Coordenadoria de Estágios e Egressos</span><br>
							<br><br>
							Copyright &copy; 2011 - Q-Estágio! - Sistema de Gerênciamento do departamento de Estágios do IFRN.
						</div>
					</div>
				</div>
    		</div>
    	</div>
        #{doLayout /}
    </body>
</html>
