#{extends 'main.html' /}
#{set title:'formCadastro.html' /}
#{set 'moreScripts'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery_ui/tema.css'}">
<script src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery.mask.js'}" type="text/javascript" charset="${_response_encoding}"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$("#formtabs").tabs();

		$("#matricula").mask("999999999999");
		$("#login").mask("999999999999");
		$("#cpf").mask("999.999.999-99");
		$("#cep").mask("99999-999");
		
		$("#matricula").focusout(function() {
			var value = $(this).val();
			$("#login").val(value);
		});
	});
</script>
#{/set}
#{set 'migalhaDePao'}
<ul id="migalhadepao">
	<li class="parent">
		<img src="@{'/public/images/blank.gif'}" alt="" class="sepV_a vam home_ico">
		<a href="/" class="vam">Início</a>
	</li>
	<li class="current"><a href="#">Cadastro de Orientador</a></li>
</ul>
#{/set}

<h1 class="sepH_c">Cadastro de Orientador</h1>

*{"Tag que importa as mensagens de feedback do sistema"}*
#{BoxesMensagensFeedback /}

#{form @Orientadores.cadastrar()}
<div id="formtabs">
		<ul>
		    <li><a class="passo1" href="#tabs-1" class="current">Dados Pessoais</a></li>
		    <li><a class="passo2" href="#tabs-2">Dados de Contato</a></li>
		    <li><a class="passo3" href="#tabs-3">Dados de Acesso</a></li>
		</ul>
		
		<div id="tabs-1">
			<div class="formEl_b">
				<fieldset id="dados_pessoais" class="">
					<div class="sepH_b">
						<label for="matricula" class="lbl_a">Matrícula:</label>
						<input type="text" name="p.matricula" value="" id="matricula" class="inpt_a">
					</div>
					<div class="sepH_b">
						<label for="cpf" class="lbl_a">CPF:</label>
						<input type="text" name="p.cpf" value="" id="cpf" class="inpt_a">
					</div>	
					<div class="sepH_b">
						<label for="nome" class="lbl_a">Nome Completo:</label>
						<input type="text" name="p.nome" value="" id="nome" class="inpt_a">
					</div>
					<div class="sepH_b">
						<label for="estadoCivil" class="lbl_a">Estado Civil:</label>
						<input type="text" name="p.estadoCivil" value="" id="estadoCivil" class="inpt_a">
					</div>
					<div class="sepH_b">
						<label for="sexo" class="lbl_a">Sexo:</label>
						<input type="text" name="p.sexo" value="" id="sexo" class="inpt_a">
					</div>
					<div class="sepH_b">
						<label for="nomeMae" class="lbl_a">Nome da Mãe:</label>
						<input type="text" name="p.nomeMae" value="" id="nomeMae" class="inpt_a">
					</div>
					<div class="sepH_b">
						<label for="nomePai" class="lbl_a">Nome do Pai:</label>
						<input type="text" name="p.nomePai" value="" id="nomePai" class="inpt_a">
					</div>
					<div class="sepH_b">
						<label for="nomeConjuge" class="lbl_a">Nome do Conjuge:</label>
						<input type="text" name="p.nomeConjuge" value="" id="nomeConjuge" class="inpt_a">
					</div>		
				</fieldset>
			
				<div class="cf">
					<a class="btn btn_d fl" onclick="$('.passo2').click(); return false;" href="#">Avançar  &raquo;</a>
				</div>
							
			</div>
		</div>
		<div id="tabs-2">
			<div class="formEl_b">
				<fieldset id="dados_contato" class="">
					<div class="sepH_b">
						<label for="endereco" class="lbl_a">Endereço:</label>
						<input type="text" name="p.endereco.logradouro" value="" id="endereco" class="inpt_a">
					</div>
					<div class="sepH_b">
						<label for="complemento" class="lbl_a">Complemento:</label>
						<input type="text" name="p.endereco.complemento" value="" id="complemento" class="inpt_a">
					</div>
					<div class="sepH_b">
						<label for="numero" class="lbl_a">Número:</label>
						<input type="text" name="p.endereco.numero" value="" id="numero" class="inpt_a">
					</div>
					<div class="sepH_b">
						<label for="bairro" class="lbl_a">Bairro:</label>
						<input type="text" name="p.endereco.bairro" value="" id="bairro" class="inpt_a">
					</div>
					<div class="sepH_b">
						<label for="cidade" class="lbl_a">Cidade:</label>
						<input type="text" name="p.endereco.cidade" value="" id="cidade" class="inpt_a">
					</div>
					<div class="sepH_b">
						<label for="estado" class="lbl_a">Estado:</label>
						<input type="text" name="p.endereco.uf" value="" id="estado" class="inpt_a">
					</div>
					<div class="sepH_b">
						<label for="cep" class="lbl_a">Cep:</label>
						<input type="text" name="p.endereco.cep" value="" id="cep" class="inpt_a">
					</div>
					<div class="sepH_b">
						<label for="email" class="lbl_a">Email:</label>
						<input type="text" name="p.usuario.email" value="" id="email" class="inpt_a">
					</div>
				</fieldset>
				<div class="cf">
					<a class="btn btn_a fl sepV_a" onclick="$('.passo1').click(); return false;" href="#">&laquo; Voltar</a>
					<a class="btn btn_d fl" onclick="$('.passo3').click(); return false;" href="#">Avançar  &raquo;</a>
				</div>
			</div>
		</div>
		<div id="tabs-3">
			<div class="formEl_b">
				<fieldset id="dados_acesso" class="">
					<div class="sepH_b">
						<label for="p.usuario.login" class="lbl_a">Matrícula:</label>
						<input type="text" name="p.usuario.login" disabled="disabled" value="" id="login" class="inpt_a">
					</div>
					<div class="sepH_b">
						<label for="p.usuario.senha" class="lbl_a">Senha:</label>
						<input type="password" name="p.usuario.senha" value="" id="p.usuario.senha" class="inpt_a">
					</div>
					
					<div class="sepH_b">
						<label for="confirmacaoSenha" class="lbl_a">Confirme a Senha:</label>
						<input type="password" name="confirmacaoSenha" value="" id="confirmacaoSenha" class="inpt_a">
					</div>
				</fieldset>
				
				
				<div class="cf">
					<a class="btn btn_a fl sepV_a" onclick="$('.passo2').click(); return false;" href="#">&laquo; Voltar</a>
					<button class="btn btn_d sepV_a"  type="submit"><span>Cadastrar Aluno</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
#{/form}