#{extends 'main.html' /}
#{set title:'formCadastro.html' /}
#{set 'moreScripts'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery_ui/tema.css'}">
<script src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery.mask.js'}" type="text/javascript" charset="${_response_encoding}"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$("#formtabs").tabs();

		$("#matricula").mask("999999999999");
		$("#login").mask("999999999999");
		$("#cpf").mask("999.999.999-99");
		$("#cep").mask("99999-999");

		$("#nomeConjuge").parent().hide();
		$("#estadoCivil").change(function(){
			var value = $(this).val();
			if (value == "Casado") {
				$("#nomeConjuge").parent().show();
			} else {
				$("#nomeConjuge").parent().hide();
			}
		});
		
		$("#matricula").focusout(function() {
			var value = $(this).val();
			
			if (value.indexOf("_") == -1) {
				$("#dados_acesso #login").val(value);
			} else {
				$("#dados_acesso #login").val("");
				return;
			} 
		});
	});
</script>
#{/set}
#{set 'migalhaDePao'}
<ul id="migalhadepao">
	<li class="parent">
		<img src="@{'/public/images/blank.gif'}" alt="" class="sepV_a vam home_ico">
		<a href="/" class="vam">Início</a>
	</li><div id="tabs">
	
	#{if request.controller.equals("Alunos")}
		<li class="current"><a href="#">Cadastro de Aluno</a></li>
	#{/if}
	#{if request.controller.equals("Funcionarios")}
		<li class="current"><a href="#">Cadastro de Funcionário</a></li>
	#{/if}
	#{if request.controller.equals("Orientadores")}
		<li class="current"><a href="#">Cadastro de Orientador</a></li>
	#{/if}
</ul>
#{/set}

#{if request.controller.equals("Alunos")}
	<h1 class="sepH_c">Cadastro de Aluno</h1>
#{/if}
#{if request.controller.equals("Funcionarios")}
	<h1 class="sepH_c">Cadastro de Funcionário</h1>
#{/if}
#{if request.controller.equals("Orientadores")}
	<h1 class="sepH_c">Cadastro de Orientador</h1>
#{/if}


*{"Tag que importa as mensagens de feedback do sistema"}*
#{BoxesMensagensFeedback /}

#{if request.controller.equals("Alunos")}
	#{form @Alunos.cadastrar()}
		#{formCadastroPessoaGenerico /}
	#{/form}
#{/if}
#{if request.controller.equals("Funcionarios")}
	#{form @Funcionarios.cadastrar()}
		#{formCadastroPessoaGenerico /}
	#{/form}
#{/if}
#{if request.controller.equals("Orientadores")}
	#{form @Orientadores.cadastrar()}
		#{formCadastroPessoaGenerico /}
	#{/form}
#{/if}